h1 {
  color: red;
  text-align: center;
  font-size: 32px;
  font-family: Verdana;
}
h2 {
	text-decoration: underline;
    color: blue;
    text-transform: uppercase;
    font-size: 24px;
}

.Syntaxe{

    color: purple;
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}
u {
	background-color: yellow;
  font-family: Arial;
  text-decoration: none;
}
.decrivant{
	background-color: yellow;
  font-family: Arial;
  text-decoration: none;
}