h1{
    font-family: Verdana, Arial, Sans-serif;
    font-size: 2em;
    color: DarkGreen;
}
h2 {
    font-family: Verdana, Arial, Sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: Midnightblue;
}
p {
  text-align: justify;
  font-family: Verdana, Arial, Sans-serif;
}
.titre{
    font-size: 1.5em;
    color: #004488;
}
.auteur{
  font-size: 16px;
}
.date{
	font-size: 16px;
	font-style: italic;
}
.resume{
	font-size: 16px; 
  text-align: justify; 
  color: gray; 
}
.question{
	font-weight: bold;
}